body {
    background-color: yellowgreen;
}
.fondo {
    background-color: #fafaf8;
}
.fondo {
  background-color: #fafaf8;
  background-image: url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.barra-navegacion {
  display: flex;
  gap: 20px;
}

.barra-navegacion a {
  text-decoration: none;
  color: rgb(68, 229, 10);
  font-weight: bold;
  border: 1px solid rgb(68, 229, 10);
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.barra-navegacion a:hover {
  background-color: rgb(68, 229, 10);
  color: white;
}
.carousel-item img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

